.dashboard {
    width: 100%;
    height: 100vh; 
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f6;
  
    .page {
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  
  }
  
  .calender {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    margin-left: 10px;
  }
  
  .cardscontainer {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif, 'Montserrat';
    letter-spacing: 0.7px;
  
  }
  .sus_main_container {
    margin: 10px 10px;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.259);
    padding: 15px;
    transition: transform 0.3s ease;
    // min-height: 100vh;
  }
  
  .pnr_header_title {
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 2rem !important;
  }
  
  .susN_data_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-top: 20px;
    min-height: 100%;
  }
  
  .data_table {
    width: 100%;
    border-collapse: collapse;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  .data_table th, .data_table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
  } 
  
  .data_table thead th {
    background-color: #f0f0f0;
    font-weight: bolder;
  
    letter-spacing: 1.5px !important;
    text-transform: uppercase;
  }
  .susN_tables_col{
    width: 150px !important;
  }
  
  .data_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .data_table tbody tr:hover {
    background-color: #f5f5f5;
  }

  .selectedYear{
    display: flex !important;
    justify-content: space-between;
   
  }
  .pnr_div_headers{
    display: flex !important;
    justify-content: space-between !important;
    align-items: end;
    gap: 20px !important;
  }
  .div_header_btn{
   display: flex !important;
   justify-content:flex-end !important;
   align-items: end !important;
   gap: 10px;
   margin-top: -2.4rem;
  }
  .pagination{
    margin-top: 15px;
  }
  .ModalselectPicker{
    margin-right: 10px;
    // width: 15%;
  }
  .MainselectPicker{
    margin-right: 10px;
    width: 16.3%;
  }

  .uploadSelectPicker{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: -30px;
  }
  .uploadText{
    // margin-right: 15rem;
    margin-top:1rem;
    margin-bottom: 5px;
  }

  .loadingOverlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  .loadingPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loadingContent {
    text-align: center;
  }
  .loadingText{
    color: rgb(8, 7, 7);
    font-size: 20px;
    font-weight: bold;
  }
  .circle{
    color: black;
  }

  .clear{
    cursor: pointer;
    background: rgba(128, 128, 128, 0.266);
    float: inline-end !important;
    font-size: 1.4rem;
    font-weight: bold !important;
    border-radius: 50%;
    padding:5px;
    margin-bottom: -10px;
    }
    
// ########################### Custom Loader ###########################

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.loader {
  position: absolute;
  border: 0.5 solid #f3f3f3;
  border-top: 3px solid #000076;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  padding: 20px !important;
  left: 50%;
  // margin-top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999 !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 /* styles.css */
 .blur {
  filter: blur(0.1px);
//  height: 100vh !important;
}

.noDataMessage {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
}

.noDataMessagemsg {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}