@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat'), url(/fonts/Montserrat.ttf) format('ttf');
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f6f6;

  .page {
    width: 100%;
    overflow-y: scroll;

    .cardsRow {
      margin: 1.5rem 0.7rem 0;
      background-color: #f6f6f6;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);

      .cardContainer {
        border: 0;

        .questionmark {
          opacity: 0.2;
          height: 1rem;
          width: auto;
          position: absolute;
          right: 1rem;
          bottom: 1rem;
          z-index: 2;
        }
      }

    }
  }
}

.tableContainer {
  padding: 1rem;
  // overflow-x: scroll;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-top: 10px;

  .tagBubble {
    display: flex;

    p {
      background-color: #000076;
      color: #ffffff;
      margin: 0 0.2rem;
      padding: 0.2rem 0.5rem;
      border-radius: 1rem;
    }
  }
}

.tableContainer::-webkit-scrollbar {
  height: 10px !important;
}

/* Thin scrollbar thumb */
.tableContainer::-webkit-scrollbar-thumb {
  background-color: #656363ae !important;
}

.viewSearchBtn {
  width: 100px;
  height: 35px;
  margin-left: 10px;
}

.allBtn {
  display: flex;
  justify-content: space-evenly !important;
  flex-direction: row;
  margin-top: 10px;
}

.datePicker {
  display: flex;
  justify-content: space-between !important;
  margin-right: 2rem !important;
  margin-top: 8px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.loadingOverlay {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.loadingPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.inputBox {
  margin-top: 3px;
}

.datePicker {
  margin-top: 10px;
}

.specialUserClass {
  color: red;
  background: rgba(224, 50, 56, 0.07);
  border-radius: 10px;
  padding: 5px 7px;
}

.tableHeader {
  // font-weight: bold;
  font-size: 1rem;
}

.mainPagination {
  margin: 1rem;
}

.modal {
  max-height: 100% !important;
}

.modalFooter {
  margin-top: -30px;
}

// NEW TABLE STYLES 

.main_container {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.259);
  padding: 10px;
  transition: transform 0.3s ease;
}

.header_title {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.data_container {
  display: flex;
  justify-content: space-between;
  padding: 20px !important;
  background-color: #fff;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-top: 10px;
}

.searchBar {
  margin-left: 10px;
}

.checkPicker {
  min-width: 15rem !important;
}

.data_table {
  border-collapse: collapse;
  letter-spacing: 0.5px;
  width: 100%;
}

.data_table th,
.data_table td {
  // padding: 3px;
  border: 1px solid #ccc;
  text-align: center;
  // min-width: 13.2rem;
  display: table-cell;
  text-align: center;
}

.tables_add_col {
  padding: 5px;
  min-width: 25rem !important;
}

.tables_fName_col {
  min-width: 12rem !important;
}

.data_table thead th {
  background-color: #f0f0f0;
  font-weight: bolder;
  padding: 3px;
  letter-spacing: 1.5px !important;
  text-transform: uppercase;
}

.data_table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data_table tbody tr:hover {
  background-color: #f5f5f5;
}

.tables_head tr th {
  background-color: #f0f0f0 !important;
  padding: 10px;
}

// page - tables headers 
.headFilters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datePicker {
  margin-left: 10px;
  margin-top: -1px !important;
}

.searchBtn {
  margin-right: 10px;
  margin-top: -8px !important;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.loader {
  position: absolute;
  border: 0.5 solid #f3f3f3;
  border-top: 2px solid #000076;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  padding: 20px !important;
  left: 60%;
  margin-top: 2%;
  transform: translate(-50%, -50%);
  z-index: 9999 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.userBtn {
  padding: 0.5rem 1.5rem;
  margin: 0.4rem;
}

.tagCodes {
  display: flex;
  flex-direction: column;
}

.popovercode {
  color: red;
}

.dropdownStyles {
  border: 1px solid rgba(0, 0, 0, 0.116);
  border-radius: 5px;
}

.rfiStyles {
  width: 12rem;
}

.vertical_table_container {
  text-align: center;
}

.vertical_table {
  margin: auto;
  border-collapse: collapse;
  width: 300px;
  margin-top: 20px;
}

.table_header {
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}

.table_cell {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  font-weight: bold;
}

.table_cell1 {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.modalStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.tagCodes {
  display: flex;
  flex-direction: column;
}

.popovercode {
  color: red;
}

.dropdownStyles {
  border: 1px solid rgba(0, 0, 0, 0.116);
  border-radius: 5px;
}

.rfiStyles {
  width: 12rem;
}

.clear {
  cursor: pointer;
  background: rgba(128, 128, 128, 0.266);
  float: inline-end !important;
  font-size: 1.4rem;
  font-weight: bold !important;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: -10px;
}

.parent_container {
  display: flex;
  justify-content: space-between;
}

.parent1 {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.259);
  padding: 20px;
  transition: transform 0.3s ease;

  .child_doughnut {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px red;
  }

  .borderRed {
    border-color: red;
  }
}

.parent2 {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.259);
  padding: 20px;
  transition: transform 0.3s ease;


  .child_barchart {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px #27ae60;
  }

  .borderGreen {
    border-color: #27ae60;
  }
}

.severityRow{
  font-weight: bold;
}
// ########################### Overview Case Management ###########################

.main_container {
  margin: 20px 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;

  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main_child_container {
  display: flex;
  justify-content: space-between;
}

.main_child_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 8px 0 0;

  width: 100vw;
  height: 40vh;
}

.main_child_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0px 8px;
  width: 100vw;
  height: 40vh;
}

// Chart Styles 

.parent_piechart_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.child_piechart_1 {
  flex: 1;
  display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  justify-content: center !important;
  align-items: center;
  text-align: center;
  // background: #000;
  height: 100% !important;

}

.child_piechart_2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  align-items: flex-start;
  text-align: left;
}

.child_piechart_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  // margin-top: 6rem;
}

.labelContainer {
  display: flex;
  align-items: end !important;
  margin-bottom: 2rem;
  margin-left: 5rem;
  font-size: 0.7rem;
  font-weight: bold;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #845ef7;
  margin-right: 8px;
}

.count {
  margin-left: 4rem;
}

.labelContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
}

.labelContainer ul li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  padding: 5px;
}

.bubble {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  // padding: 3px;
}

.countNumbers {
  margin-left: 3.3rem !important;
}

.TotalAddCount {
  font-size: 0.9rem;
}

.dateFilter {
  float: inline-end;
  height: 2rem;
  background: #000;

}

.dateFilterInput {
  display: flex;
  justify-content: flex-end !important;
  align-items: end !important;
  height: fit-content !important;
  width: fit-content !important;
  float: inline-end;
  color: #000000d3 !important;
}

.inputbarchartcontainer {
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
  margin-left: 55% !important;
  margin-top: -0.5rem;
  margin-bottom: 10px;
}

.inputbarchartSubcontainer {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.tooltip {
  background: #000 !important;
  color: red !important;
}

.customTooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10%;
  z-index: 999;
}

.tooltipSection {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}

.tooltipCategory {
  // height: fit-content;
  // width: fit-content;
  text-align: center !important;
  // margin: 0 10px;
  padding: 0 4px;
  border-right: 1px solid #ccc;
  flex-grow: 1;
  margin-bottom: 5px;
  opacity: 90%;
  font-size: 10px !important;
}

.tooltipCategory:last-child {
  border-right: none;
}

.tooltipHeaderHigh {
  color: red;
  font-weight: bold;
}

.tooltipHeaderMedium {
  color: #4caf50;
  font-weight: bold;
}

.tooltipHeaderLow {
  color: #ffa600;
  font-weight: bold;
}

.tooltipdate {
  color: black;
  font-size: 12px;
}

.navstyle{
 margin-top: 10px;
}
.modalStyles{
  // background: #000;
  // width: 80% !important;
}

.vertical_table_container {
  text-align: center;
}

.vertical_table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  // margin-top: 20px;
}

.table_header {
  border: 1px solid rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}

.table_cell {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  font-weight: bold;
}

.table_cell1 {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.modalStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.custompaginationtext {
  font-size: 1rem !important; 
  margin-right: 5px;
  margin-left: 5px;
}

.paginationinfo {
  margin-top: 10px;
  font-size: 1rem;
}

.customPagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationInfo {
  margin-left: 10px;
  margin-right: 10px;
}

// MOdal Table Styling 

.modalTable {
  max-width: 100%;
  overflow-x: auto;
  font-family: "Montserrat", sans-serif;
}

.modal_data_table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.259);
}

.modal_data_table th,
.modal_data_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family: math;
}

.modal_data_table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.modal_data_table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.modal_data_table tbody tr:hover {
  background-color: #dddddd68;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid #ddd;
}

.clear {
  cursor: pointer;
}

.modalHeader {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.532);
  text-align: left;
  font-family: 'Montserrat';
  font-family: 'math';
}

.headerText {
  display: flex;
  align-items: center;
  font-family: 'math';
}

.headerText span {
  margin-right: 1rem; 
  font-size: 1.4rem;
  font-family:math;
}

.modalMessage {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
  color: #ff0000; 
}
// accpet ignor button styling
.AcceptBtn{
  background: #b8dcb878;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 20px;
  color: green;
  font-size: 1rem;
  font-weight: bold;
}

.AcceptBtn:hover,
.AcceptBtn:focus {
  background: #b8dcb878 !important;
  color: green;
}

.checkIconStyles{
  margin-right: 12px !important;
}
.rejectBtn{
  background: #dcb8b878;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: red;
}
.rejectBtn:hover,
.rejectBtn:focus {
  background: #dcb8b878 !important;
  color: red;
}
.datecontainer{
  display: flex !important;
  justify-content:flex-end !important;
  align-items: end;
}

.dateFilterStyles{
  display: flex;
  justify-content: end;
  align-items: end;
  width: 34%;
  border-radius: 8px;
  // padding: -1rem !important;
  border: 1px solid rgba(128, 128, 128, 0.327);

}

.exportBtn{
  margin-top: 10px;
}

.closeBtn{
  margin-top: 10px;
}

.modalselectpicker{
  display: flex;
  justify-content: flex-end !important;
  align-items: end;
  margin-top: -1rem;
  border: none !important;
}


// CSS
.styles.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mainPnrColumn {
  position: relative;
  display: inline-block;
}

.mainPnrColumn:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color:white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: red;
  padding: 4px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.mainPnrColumn:hover::after {
  visibility: visible;
  opacity: 1;
}

.Modaltooltip {
  position: relative;
  display: inline-block;
}

.defaultStyle {
  padding: 5px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s; 
}

/* Hover style for the cells with "N.A." in the Location and GeoLocation columns */
.defaultStyle:hover {
  background-color: #f2f2f2; 
  color: #333;
}

/* hover message for ( Location )... Text to display on hover when content is "N.A." in Location column */
.Modaltooltip[data-content='N.A.'][data-column='Location']::before {
  content: ' Location Data Not Available for this User';
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: red;
  padding: 7px;
  border-radius: 5px;
  font-size: 13px;
  white-space: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
}

/* hover message for ( Geo Location )... to display on hover when content is "N.A." in GeoLocation column */
.Modaltooltip[data-content='N.A.'][data-column='GeoLocation']::before {
  content: 'Geo-Location Data Not Available for this User';
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: red;
  padding: 7px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;

}

/* Show the tooltip on hover only when content is "N.A." */
.Modaltooltip:hover[data-content='N.A.']::before {
  display: block;
}

.mainModalStyling{
  width: 80%;
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
  .inputbarchartcontainer {
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-left: 20% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1166px) {
  .inputbarchartcontainer {
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-left: 18% !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1167px) {
  .parent_piechart_container {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .labelContainer {
    margin-left: 4rem;
    width: fit-content;

  }

  .labelContainer ul li {
    margin-left: -3rem;
    // background: blue !important;
  }

  .inputbarchartcontainer {
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-left: 55% !important;
  }

}

@media only screen and (min-width: 1167px) and (max-width: 1399px) {
  .parent_piechart_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .labelContainer {
    margin-left: 7rem;
    width: fit-content;

  }

  .labelContainer ul li {
    margin-left: -2.8rem;
  }

  .inputbarchartcontainer {
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-right: -10% !important;
  }

}

@media only screen and (min-width: 1167px) and (max-width: 1399px) {
  .parent_piechart_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .labelContainer {
    margin-left: 5rem;
    width: fit-content;
  }

  .labelContainer ul li {
    margin-left: -3rem;
  }

  .inputbarchartcontainer {
    display: flex !important;
    justify-content: end !important;
    align-items: end !important;
    margin-left: 30% !important;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .parent_piechart_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .labelContainer ul {
    margin-left: 3.5rem;
  }

  .labelContainer ul li {
    margin-left: -3rem;
  }

  .inputbarchartcontainer {
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-left: 55% !important;
  }
}

@media only screen and (min-width: 1599px) and (max-width: 1899px) {
  .parent_piechart_container {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .labelContainer ul {
    margin-left: 4rem;
  }

  .labelContainer ul li {
    margin-left: -3rem;
  }

  .inputbarchartcontainer {
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-right: 5% !important;
  }
}

@media only screen and (min-width: 1600px) and (max-height: 1700px) {

  .inputbarchartcontainer {
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-left: 70% !important;
  }
}

@media only screen and (min-width: 1701px) and (max-height: 1800px) {

  .inputbarchartcontainer {
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-left: 67% !important;
  }
}