$blue-main: #2f59df;
$blue-active: #1e48d0;
$blue-background: #e4e8f3;

$aside-offset: 200px;

$category-background: #c4d0f8;
$category-color: #003cff;

// Variables above should be removed
$blue-100: #f7f6f8;
$blue-200: hsl(270, 12%, 95%);
$blue-400: #4a6ee2;
$blue-500: #3961e2;

$purple-400: #9d98c0;
$purple-800: #464555;

$green-400: #4bde81;
$red-400: #fa2121;

$grey-400: #4e4e4e;

$aside-background-gradient: linear-gradient(45deg, $blue-500, $blue-400);
$font-red-hat-display: "Red Hat Display", sans-serif;
$font-maven-pro: "Maven Pro", sans-serif;
$fontFamilyMontserrat: "Montserrat", sans-serif;
